{% extends "bootstrap/base.html"%}

{% block title%}Searching Patient Information{% endblock %}

{% block navbar %}
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="/importsub">Searching Patient Information</a></li>
  <li><a href="/add/patient">Adding New Patients</a></li>
  <li><a href="/update/patient">Updating Patient Information</a></li>
  <li><a href="/delete/patient">Deleting Patient Information</a></li>
  <li><a href="/filtrate/sex">Information Analysis</a></li>
</ul>
{% endblock %}

{% block content %}
<script src="/static/jquery-3.5.1.js"></script>
<script src="/static/search.js"></script>

<div class="d1">
    <div class="d2">
        <div class="container">
        <div class="d3">
            <div class="page-header" withd="300px">
                <div class="shadow">Hello, Dear Doctor</div>
                <h4>Another beautiful day today, let's start working</h4>
            </div>

           <form action="" class="basic-grey">
               <label>
                   <span>subject_id :</span>
                   <input id="importsubject" type="text" name="importsubject">
               </label>
               <label>
                   <span> </span>
                   <input id="send" type="button" class="button" value="Send" onclick="Search()">
               </label>
           </form>

            <table id="searchTable" class="gridtable">
                <tr>
                <th>row_id</th><th>subject_id</th><th>gender</th><th>dob</th><th>dod</th><th>dod_hosp</th><th>dod_ssn</th><th>expire_flag</th>
                </tr>
                <tr height = "60 px">
                <th>{{ row_id }}</th><th>{{ subject_id }}</th><th>{{ gender }}</th><th>{{ dob }}</th><th>{{ dod }}</th><th>{{ dod_hosp }}</th><th>{{ dod_ssn }}</th><th>{{ expire_flag }}</th>
                </tr>
            </table>
        </div>
        </div>
    </div>
</div>


<style type="text/css">
.d1 {
        background: url(/static/gene.jpg)no-repeat;
        background-size: cover;
        width: 1520px;
        height: 675px;
        position: relative;
    }
.d2 {
        position: absolute;
        left: 160px;
        right: 160px;
        top:0;
        bottom: 0;
        width: 1200px;
        height: 675px;
        line-height: 50px;
        text-align: center;
        background: rgba(225,225,225,0.6);
    }

.d3 {
        border-radius:50px;
        box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        position: relative;
        top:50px;
        bottom: 100px;
        width: 800px;
        height: 500px;
        line-height: 50px;
        text-align: center;
        background: rgba(0, 0, 0, 0.18);
        margin-left:auto;
        margin-right:auto;
    }

.shadow {
  padding: 30px 50px;
  font-size:60px;
  font-weight:bold;
  color: #f4efef;
  text-shadow: 5px 5px 0 #666, 7px 7px 0 #b3abab;
}

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:13px;
    color: #f4efef;
    border-width: 1px;
    background: rgba(0, 0, 0, 0.3);
    border-collapse: collapse;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    top: 10px;
    width:700px;
    height: 120px;
    line-height:30px


}

table.gridtable th {
    text-align: center;
    border-width: 2px;
    padding: 4px;
    border-style: inset ;
    background: rgba(0, 0, 0, 0);

}

table.gridtable td {
    text-align: center;
    border-width: 2px;
    padding: 4px;
    border-style: inset ;
    background: rgba(0, 0, 0, 0);
}

.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 800px;
    background: rgba(0, 0, 0, 0);
    padding: 0px 30px 15px 10px;
    color: #888;

}

.basic-grey label {
         display:inline-block;
}

.basic-grey label>span {
         font-size:20px;
         float: left;
         width: 40%;
         text-align: right;
         padding-right: 5px;
         margin-top: 0px;
         color: #ffffff;
         font-family:"Microsoft Yahei";

}

.basic-grey input[type="text"] {
         border: 1px solid #DADADA;
         border-radius: 10px;
         color: #888;
         height: 40px;
         margin-bottom: 16px;
         margin-right: 6px;
         margin-top: 2px;
         outline: 0 none;
         padding: 3px 3px 3px 5px;
         width: 70%;
         font-size: 16px;
         line-height:20px;
         box-shadow: inset 0px 1px 4px #ECECEC;
         -moz-box-shadow: inset 0px 1px 4px #ECECEC;
         -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-grey .button {
         font-size:16px;
         background: #27629a;
         border: none;
         padding: 0px 20px 0px 20px;
         color: #FFF;
         border-radius: 40px;
         cursor: pointer;
}

    </style>
{% endblock %}